
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
    
}
.page1{
    background-image: url(images/1st\ bg\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.page1 header{
 display: flex;
 justify-content: space-between;
 background-color: rgba(0, 0, 0, 0.5);
 width: 100%;
 top: 0;
 right: 0;
 left: 0;
 position: fixed;
}
.logo img{
    width:100px ;
    height:70px ;
    margin-top: 2px;
    
}
header ul li{
    display: inline-block;
    margin-right: 25px;
    margin-top: 25px;
 
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight:900;
    
    
}
.heading{
 font-size: 24px;
 color: #fff;
 margin-left: 270px;
 margin-top: 7px;
}


.box2 {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    margin-left: 100px;
    margin-right: 800px;
    margin-top: 200px;
    text-align: justify;
    font-size: 28px;
    
}
.box2 h1{
   text-align: center;
}
.box2 p{
    margin: 20px;
}
.btn {
    
    text-decoration: none;
    border: 1px solid #fff;
    background-color: transparent;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin-left: 488px;
    margin-top: 30px;
    
}
.btn a{
    text-decoration: none;
    color: #fff;;
}
/*-----------------------------------------------------Home ends--------------------------------------------------------------------------------------*/
.vendorspage{
    background-image: url(images/backgroundn\ images.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    
   }
.logo2 img{
       width:100px ;
       height:70px ;
       margin-top: 2px;
       
   }
nav ul li{
       display: inline-block;
       margin-right: 25px;
       margin-top: 25px;
    
   }
nav ul li a{
       text-decoration: none;
       color: #000;
       font-size: 28px;
       font-weight:900;
       
       
   }
nav .heading2{
       font-size: 34px;
       color: #000;
       margin-left: 270px;
       margin-top: 7px;
   }
   .sidebar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight:900;
    margin-left: 10px;
    
}
.sidebar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 240px;
    
  }
  .over-flow{
    overflow-y: scroll;
  }
  .sidebar ul li{
    margin-bottom: 25px;
    margin-top: 1px;
    border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  padding: 2px;

  }
.sidebar ul li:hover{
    background-color: rgba(183, 228, 228, 0.558);
    
  }
.content{
    margin-top:75px;
    overflow-y: scroll;
    height: 100vh;
}
 /*--------------------------------card starts-----------------------------------------------*/
 .container{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 300px;
    
    
    
  }
  .wrapper {
    width: 100%;
    height: 100%;
    
  }
  
  .banner-image {
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  .banner-image img{
    height: 250px;
    width: 100%;
    border-radius: 12px;
  }
  .heading3{
    margin-top: 18px;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 20px;
  }
  .subtitle {
    margin-top: 18px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    
  }
  .button-wrapper{
    margin-top: 18px;
  }
  .bttn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;  
    cursor: pointer;
  }
  
  
  .outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
    
  }
  
  .outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  
  .fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }
  .d-flex{
    margin-left: 300px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-right: 70px;
  }
  .vheader{
    
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
   /*--------------------------------card ends-----------------------------------------------*/

/*---------------------------------------------------------vendors ends------------------------------------------------------------------------------------*/

